{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <h1 class="page-header">Edit User</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    	<a href="/users" class="btn btn-sm btn-default">Back</a>
    {{ form_end(form) }}

</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

