{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <h1 class="page-header">Create Post</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}

{% block stylesheets %}
<link href="http://cdn.quilljs.com/latest/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script src="http://cdn.quilljs.com/latest/quill.js"></script>
<script src="/js/textEditor.js"></script>
{% endblock %}


